# Node dependencies
node_modules/

# Playwright reports & results
test-results/
playwright-report/
blob-report/
playwright/.cache/

# Ignore Allure report and result files
allure-report/
allure-results/

# Playwright default traces & debugging artifacts
trace.zip
playwright/.cache/
