# Playwright-related
playwright-report/
test-results/
blob-report/
playwright/.cache/

# Allure reports
allure-report/
allure-results/

# Node modules
node_modules/

# Ignore system files
.DS_Store
Thumbs.db
*.log
